h2 file upload
form(action='/file_upload', method='post' enctype='multipart/form-data')
    | file upload :
    input(type='file', name='file_upload')
    br
    input(type='submit',value='submit')
    br